
{% extends 'gerenciador_industriawayne/base.html' %}

{% block title %}Lista de Equipamentos{% endblock %}

{% block content %}
<h1>Lista de Equipamentos</h1>
    
{% if equipamentos %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome do equipamento:</th>
                    <th>Descrição</th>
                    <th>Data de fabricação:</th>
                    <th>Usuário atual:</th>
                    <th>Status</th> 
                    <th>Localização</th>
                    <!-- <th>Imagem</th> -->
                </tr>
</thead>
<tbody>
    {% for equipamento in equipamentos %}
        <tr>
            <td>{{ equipamento.id }}</td>
            <td>{{ equipamento.nome }}</td>
            <td>{{ equipamento.descricao }}</td>
            <td>{{ equipamento.data }}</td>
            <td>{{ equipamento.usuario_atual }}</td>
            <td>{{ equipamento.status }}</td>
            <td>{{ equipamento.localizacao }}</td>                    
        </tr>
    {% endfor %}
</tbody>
        </table>
</div>
    {% else %}
        <div class="alert alert-info" role="alert">
            Nenhum equipamento cadastrado.
        </div>
    {% endif %}
{% endblock %}