
{% extends 'gerenciador_industriawayne/base.html' %}

{% block title %}Lista de Equipamentos{% endblock %}

{% block content %}
<h1>Lista de Equipamentos</h1>
    
{% if equipamentos %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Nome do equipamento</th>
                    <th>Descrição</th>
                    <th>Data de fabricação</th>
                    <th>Usuário atual</th>
                    <th>Status</th> 
                    <th>Localização</th>
                    <th>Imagem</th>
                    <th>Editar</th>
                    <th>Remover</th>
                    <!-- <th>Imagem</th> -->
                </tr>
            </thead>
<tbody>
    {% for equipamento in equipamentos %}
        <tr>
            <td>{{ equipamento.nome }}</td>
            <td>{{ equipamento.descricao }}</td>
            <td>{{ equipamento.data }}</td>
            <td>{{ equipamento.usuario_atual }}</td>
            <td>{{ equipamento.status }}</td>
            <td>{{ equipamento.localizacao }}</td> 
            {% if user.image %}
            <td> <img src="{{ equipamento.imagem.url }}"> </td>
            {% else %}
            <td></td>
            {% endif %}
            <td><a href="{% url 'editar_equipamento' equipamento.pk %}" class="btn btn-warning btn-sm">Editar</a>  </td>              
            <td><a href="{% url 'remover_equipamento' equipamento.id %}" class="btn btn-danger btn-sm">Remover</a> </td>
        </tr>
    {% endfor %}
</tbody>
        </table>
</div>
    {% else %}
        <div class="alert alert-info" role="alert">
            Nenhum equipamento cadastrado.
        </div>
    {% endif %}
{% endblock %}